// imported fonts
@import url('https://fonts.googleapis.com/css?family=Cabin|Poppins:400,700');

// variables

$card-font: 'Poppins', sans-serif;
$card-size: 13px;

// breakpoints

$min-break-small: "only screen and (min-width : 576px)";
  // Medium devices (tablets, 768px and up)
$min-break-medium: "only screen and (min-width : 768px)";
  // Large devices (desktops, 992px and up)
$min-break-large: "only screen and (min-width : 992px)";
  // Extra large devices (large desktops, 1200px and up)
$min-break-xlarge: "only screen and (min-width : 1200px)";

$max-break-small: "only screen and (max-width : 576px)";
  // Medium devices (tablets, 768px and up)


// mixins

@mixin flex($horizontal, $vertical) { // flex -by row
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
}

@mixin flex-v($vertical, $horizontal) { // flex -by column
  display: flex;
  flex-direction: column;
  justify-content: $vertical;
  align-items: $horizontal;
}

@mixin link($color, $hover, $active) { // define hyperlink properties
  a {
    text-decoration: none;
    color: $color;
    &:hover {
      text-decoration: none;
      color: $hover;
    }
    &:active {
      text-decoration: none;
      color: $active;
    }
    &:visited {
      text-decoration: none;
    }
    &:link {
      text-decoration: none;
    }
  }
}

// properties


/* ----------- global properties -----------*/

body {
  font-family: $card-font;
  ::-moz-selection {
    background: blue;
    color: #fff;
  }
  ::selection {
    background: blue;
    color: #fff;
  }
}

.hide {
  display: hidden;
}

.img-fluid {
  width: 100%;
  height: 100%;
}

/* ----------- navbar area -----------*/

/* branding */
.navbar-brand {
  letter-spacing: 1.5px;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Cabin', sans-serif;
}

/* navbar */

nav {
  @include link(#000,#000,#000);
  .nav-link{
    font-size: .9rem;
    font-weight: 600;
    &:hover {
      border-bottom: 2px solid #000;
    }
  }
  .tool {
    font-size: 10px;
    margin: 0 0.8em;
    @include flex-v(center,center);
    .feather.feather-shopping-bag {
      &:hover{
        fill: #2176FF;
        stroke-width: 1;
      }
    }
  }
  .tool.search {
    @media #{$min-break-large} {
      display: none;
    }
  }
  .tool.user {
    display: none;
    .feather.feather-gitlab {
      &:hover{
        fill: #ffbf00;
        stroke-width: 0;
      }
    }
    @media #{$min-break-large} {
    display: flex;
    flex-direction: column;
    }
  }
  /* hamburger nav */
  .navbar-toggler {
    border: none;
  }
  .navbar-light .navbar-toggler-icon {
      background-image: url('../img/menu.svg');
  }
}

#provider-json {
  @media #{$min-break-medium} {
    margin: 0 auto;
    border:0;
  }
  @media #{$min-break-large} {
    margin: 0 3em;
    border:0;
  }
}

/* ----------- main area -----------*/


/* introduction text */

article {
  .total-results {
    color: rgb(119, 119, 119);
  }
  div {
    @media #{$min-break-medium} {
      @include flex(space-between, center);
    }
  }
  h2 {
    font-size: 1.375em;
    line-height: 2.125rem;
    text-align: center;
  }
  p {
    display: none;

    font-weight: 400;
    font-size: .813em;
    line-height: 1.623em;
    background: #fff;
    letter-spacing: .03rem;
    @media #{$min-break-medium} {
      display: block;
    }
  }
}

/* product display */
.product-card {
  font-weight: bold;
  margin: 1em auto;
  .product-description {
    padding-top: 0.8em;
    h2, h3 {
      font-size: $card-size;
      line-height: 15px;
    }
    h2, p {
      font-weight: bold;
      line-height: 15px;
    }
  }
}

.img-container {
  overflow:hidden;
  max-height:360px;
  max-width:249px;
}

.img-back {
  display: block;
  height: 400px;
  width: auto;
  @media #{$max-break-small} {
    height: 248px;
    width: auto;
  }
}

/* wishlist heart icon */
.feather.feather-heart {
  &:hover{
    // fill: #FFC9D0;
    fill: red;
    stroke-width: 0;
  }
}

.red {
  color:red;
}


/* ----------- product filter and sort options -----------*/


/* filters */
aside {
  border-bottom: 1px solid lightgrey;
  .filter-button {
    text-align: center;
    font-weight: 400;
    font-size: .813em;
    line-height: 1.623em;
    @include flex(center, flex-start);
    &:hover{
      cursor: pointer;
    }

  }
  img {
    margin-top: 2.5px;
  }
}

.filter-button.bordr{
  border-left :1px solid lightgrey;
  border-right :1px solid lightgrey;

}

#area {
  width: 100%;
}

// hide radio buttons

label > input{
  visibility: hidden;
  position: absolute;
}
label > input + img{
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{
  border:2px solid blue;
}

label {
  font-size: 0.8em;
}

.filter_theme_section {
  @include flex-v(flex-start, flex-start);
  padding: 10px;
}

.filter_theme_item {
  @include link(#000, #000, #000);
  margin-bottom: 10px;
  left: 0;
}

.filter_theme_text {
  font-size: 0.8em;
}

.filter_theme_thumb {
    width: 30px;
    height: 30px;
    z-index: 1;
    border-radius: 50%;
    margin-right: 10px;
    &:hover {
      border:2px solid blue;
    }
}

.filter_area_button {
  width:100%;
  @include flex(center, center);
  #filter_button {
    background-color: blue;
    border: 2px solid blue;
    padding: 9px 15px;
    font-size: 1rem;
    line-height: 21px;
    border-radius: 0;
    width:90%;
    margin: 10px auto;
    bottom: 0;
    z-index: 2;
    color: #fff;
  }
}

#resultsUpdate-end, .resultsUpdate {
  color: rgb(119, 119, 119) !important;
  font-weight: 400;
  font-size: 0.813em;
}
